body, html {
    box-sizing: border-box;
    padding: 0;
  }

.navbar-mobile-custom a {
    text-decoration: none;
    color: rgb(143, 80, 47);
    font-size: 1.5rem;
    z-index: 2;
}

.navbar-mobile-custom {
    background-color: #221E1D;
    color: #8F502F;
}
.navbar-mobile-custom button {
    color: #8F502F !important;
}
.navbar-toggler-icon {

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(143,80,47)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-mobile-name {
    font-size:0.8rem;
}
.navbar-mobile-name h1 {
    color: #8F502F;
    
}
.navbar-mobile-socials {
    display: flex;
    justify-content: end;
    margin-top: -2rem;
    margin-right: 1rem;
    z-index: 1;
}
.navbar-mobile-socials a {
    margin-left: 1.8rem;
    
}
.navbar-mobile-socials i {
    color: #8F502F;
}

.navbar-mobile-links {
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-mobile-links a {
    color: #8F502F;
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
    .navbar-mobile-name {
        font-size:0.7rem;
        width: 6rem;
    }
    .navbar-mobile  span {
        font-size: 1.3rem;

      }

}

@media only screen and (max-width: 400px) {
    .navbar-mobile {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .navbar-mobile-name {
        font-size:0.5rem;
        width: 3rem;
    }
    .navbar-mobile  span {
        font-size: 1rem;

    }
      .navbar-mobile-socials {
        font-size: 1.3rem; 
    }
    .navbar-mobile-socials a {
        margin-left: 0.3rem;
        
    }
    .navbar-mobile-links {
        width: 11rem;
       

    }

}