

.rendered-resume {
    margin-bottom: 2.5rem;
}

.rendered-resume h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 100;
}
.rendered-resume button {
    border: none;
    background-color: #ddcacb;
    font-size: 1rem;
}
.rendered-resume button:hover {
    font-size: 1.1rem;
    cursor:pointer;
}


.resume-card {
    margin-bottom: 1rem;
    /* padding-right: 2rem; */
    /* padding-left: 1rem; */
    /* border-left: 4px dotted black; */
    
}
.resume-card-content {
    display: flex;
    justify-content: center;
    
}

.resume-card-content p {
    font-size: 1.5rem;
    width: 15rem;
    margin-right: 6rem;
    margin-bottom: 0.5rem;
}
.resume-card-content h5 {
    font-style: italic;
    font-weight: 500;
}
.date-text {
    /* text-align: start; */
    width: 10rem;
}


@media only screen and (max-width: 1300px) {

    /* .schoolComponent {
        width: 18rem;
    }
    .jobComponent {
        width: 25rem;
    } */
}

@media only screen and (max-width: 1200px) {

    /* .schoolComponent {
        width: 15rem;
    }
    .jobComponent {
        width: 20rem;
    } */
}
