.resume-page {

    background-color: #443f3c;
    padding-top: 6rem;
    padding-bottom: 5rem;
}
.resume-page > h1 {
    z-index: 3;
    padding-bottom: 0.4rem;
    width: 4rem;
    border-bottom: 3px solid black;

}
.resume-page > a > p {
    margin-left: 15.5rem;
    margin-bottom: 4rem;
    font-size: 1.2rem;
    border-bottom: 2px solid #8F502F;
}
.resume-components {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 992px) {
   
    
}

@media only screen and (max-width: 768px) {

    .resume-components {
      
    }
}
@media only screen and (max-width: 700px) {

    .resume-components {
      
    }
}