.homepage {
    background-color: #443f3c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
}


.homepage p {
    width: 40rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}


@media only screen and (max-width: 1200px) {
    .homepage img {  
        width: 100%;
        height: auto;
    }
}


@media only screen and (max-width: 992px) {
    .homepage h2 {
        font-size: 2.5rem;
        width: 20rem;
        top: 14rem;
    }
   
}


@media only screen and (max-width: 768px) {

    .homepage img {
        padding-top: 3.5rem;
    }
    .homepage h2 {
        font-size: 2.5rem;
        width: 20rem;
        top: 20rem;
        left: 3rem;
    }
}


@media only screen and (max-width: 600px) {
    .homepage h2 {
        font-size: 2.2rem;
        width: 20rem;
        top: 17rem;
        left: 3rem;
    }
}

@media only screen and (max-width: 500px) {
    .homepage h2 {
        font-size: 1.5rem;
        width: 20rem;
        top: 15rem;
        left: 3rem;
    }
}




