.project-page {
    padding-top: 4rem;
    padding-bottom: 3rem;
    padding-left: 6rem;
    padding-right: 3rem;
    background-color: #443f3c;
    min-height: 100vh;
    
}
.project-page > h1{
    z-index: 3;
    padding-bottom: 0.4rem;
    margin-bottom: 2rem;
    width: 4rem;
    border-bottom: 3px solid #fff;
    color: #fff;

}

.project-page li {
  list-style: none;
}

button {
  background-color: #443f3c;
}
/* Accordion CSS */

.accordion-title {
    font-size: 1.7rem;
    font-weight: bold;
    background-color: #443f3c;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    cursor: pointer;
  }
  
  .accordion-description {
    padding-bottom: 5rem;
    margin-top: 3rem;
    font-family: 'Times New Roman', Times, serif;
  }
  .accordion-description p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .accordion-description li {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .accordion-description a {
    color: rgb(172, 172, 172);
    font-size: 1.5rem;
  }
  .accordion-description .essay-link {
    border-bottom: 2px solid #8F502F;
  }
  .szh-accordion__item {
    margin-bottom: 3rem;
  }
  .szh-accordion__item-content {
    transition: height 0.25s cubic-bezier(0, 0, 0, 1);
  }
  .szh-accordion__item-btn { 
    border: none;
  }


  /* ------------------Animation CSS------------------- */

.accordion-title i {
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  
}

  .accordion-title i::after {
    content: "";
    background: #90EE90;
    transform: rotate(45deg);
    /* transition: all 0.8s; */
  }
