.resume-page {

    padding-top: 4rem;
    padding-left: 3rem;
    padding-bottom: 5rem;
    background-color: #e5dac6;
}
.resume-page > h1{
    z-index: 3;
    padding-bottom: 0.4rem;
    width: 4rem;
    border-bottom: 3px solid black;

}
.resume-components {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 5rem;
}

@media only screen and (max-width: 992px) {
    .resume-components {
        grid-template-columns: auto;
    }
    
}

@media only screen and (max-width: 768px) {

    .resume-components {
        grid-template-columns: auto auto;
        gap: 1rem;
    }
}
@media only screen and (max-width: 700px) {

    .resume-components {
        grid-template-columns: auto;
        gap: 1rem;
    }
}