span {
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
  }
a {
    text-decoration: none;
}
.navbar {
    padding-left: 2rem;
    background-color: #0e6151;
    width: 18rem;
    height: 100%;
    position: fixed;
}
.navbar-header {
    padding-top: 1rem;
    display: flex;
    padding-left: 2rem;
}
.navbar-header img {
    box-sizing: content-box;
    width: 9rem;
    aspect-ratio: 4/4;
    border-radius: 100% / 125% 125% 80% 80%;
    border: 7px solid #08372e;
}
.navbar-name {
    margin-left: 0.8rem;
}
.navbar-name h1 {
    color: #fff;
}
.navbar-socials {
    font-size: 1.3rem;
    margin-top: 0.6rem;
    margin-right: 2.4rem;
    display: flex;
    justify-content: space-evenly;
    
}
.navbar-socials i {
    color: #fff;
}
.navbar-links {
    margin-top: 2rem;
    margin-left: 1rem;
}
.navbar-links li {
    color: #fff;
    margin-bottom: 1rem;
}
.navbar-links a {
    color: #fff;
    text-decoration: none;
}
.navbar-links i{
    margin-right: 1rem;
}
