span {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #8F502F;
  }
a {
    text-decoration: none;
}
.navbar {
    padding-top: 5rem;
    padding-left: 2rem;
    background-color: #221E1D;
    width: 12rem;
    height: 100%;
    position: fixed;
}
.navbar-header {
    padding-top: 1rem;
    display: flex;
    /* padding-left: 2rem; */
}
.navbar-header img {
    box-sizing: content-box;
    width: 8.5rem;
    height: 8.5rem;
    aspect-ratio: 4/4;
    border-radius: 100% / 100% 100% 100% 100%;
    /* border: 7px solid #08372e; */
}
.navbar-name {
    /* margin-left: 0.8rem; */
    text-align: left;
    margin-left: -0.5rem;
}
.navbar-name h1 {
    font-size: 1.3rem;
    color: #8F502F;
    font-weight: 100;
}
.navbar-socials {
    font-size: 1.7rem;
    margin-top: 0.6rem;
    margin-right: 2.4rem;
    display: flex;
    justify-content: space-evenly;
    
}
.navbar-socials i {
    color: #8F502F;
}
.navbar-links {
    margin-top: 2rem;
    margin-right: 1rem;
    text-align: right;
}
.navbar-links li {
    color: #8F502F;
    margin-bottom: 1rem;
    list-style: none;
}
.navbar-links a {
    color: #8F502F;
    text-decoration: none;
}
.navbar-links i{
    margin-right: 1rem;
}
