
.carousel-image {
    height: 500px;
}
.carousel-item-custom {

    /* width: 20rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:auto;


}

.szh-accordion {
    margin: auto;
    width: 55rem;
}