.footer {
    background-color: #221E1D;
    display: flex;
    height: 6rem;
    justify-content: center;
    align-items: center;
}
.footer h3 {
    margin-right: 3rem;
    font-size: 0.7rem;
}
.footer a {
    margin-left: -2.5rem;
    color: black;
    font-weight: bold;
    font-size: 0.5rem;
    text-decoration: none;
}
.footer a ::after {
    color: black;
}
.footer-mail {
    display: flex;
}

@media only screen and (max-width: 992px) {
    .footer {
        flex-direction: column;


    }
   

}

@media only screen and (max-width: 768px) {

    .footer {
        flex-direction: row;
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
    }

}